body {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    width /***/:auto;
}


.slider img{
    width: 100% !important;
    height: auto !important;
}

.container {
    margin-top: 50px;
}


.introduction span {
    color: #FA9F77;
}
.introduction .top {
    position: relative;
    margin-bottom: 50px;
}
.top p {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    font-size: 20px;
}
.intro_h1 {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    background: linear-gradient(transparent 40%, rgb(255, 229, 218) 50%);
}



.howto, .access {
    background-color: #FA9F77;
}


.howto_in {
    background-color: white;
}
.howto .row {
    background-color: white;


    padding: 50px;
    margin: 50px;
    /*ここへんこうするかも*/
}
.howto_h1 {
    margin: 50px;
    margin-left: 250px;
    margin-right: 250px;
    background: linear-gradient(transparent 30%, white 50%);
}
.howto h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.whatcan .row{
    margin-bottom: 50px;
}
.whatcan .col-lg-4 {
    padding: 20px;
}

.col_in {
    margin: 10px;
    background-color: rgb(255, 229, 218);
    height: 400px;
}
.col_in img {
    margin: 50px;
}



.access h1 {
    color: white;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
}
.access .row {
    margin-bottom: 50px;
}

.access img {
    max-width: 100%;
    height: auto;
    width :auto;

}.access button {
    background-color: black;
    color: white;
}
.access label {
    color: white;
}
.footer {
    height: 70px;
    background-color: black;
}
.footer_in {
    padding-top: 30px;
}
.footer p {
    color: white;
}


input, textarea, button {
    border-radius: 10px !important;
}


label {
    float: left;
}





@media screen and (max-width:1200px) {
    .flexbox {
        display: flex;
        flex-wrap:wrap;
    }
    .box1 {
        order: 2;
        width: 100%;
    }
    .box2 {
        order: 1;
    }
}


@media screen and (max-width:480px){
    h1 {
        font-size: 20px;
    }


    .introduction .col-lg-6 {
        padding: 50px;
    }

    .intro_h1 {
        margin-bottom: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .howto_in .row {
        margin: 0 auto;
        padding: 0;
    }
    .howto_h1 {
        margin: 30px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .top p {
        font-size: 15px;
    }

    .flexbox {
        display: flex;
        flex-wrap:wrap;
    }
    .box1 {
        order: 2;
        width: 100%;
    }
    .box2 {
        order: 1;
    }

    .access h1 {
        margin: 30px;
    }




}